/* Custom */
footer a {
  color: var(--white);
  text-decoration: none;
  background-color: transparent;
}

footer a:hover {
  color: var(--success);
  text-decoration: underline;
}

footer {
  border-bottom: 12px solid transparent;
  -moz-border-image: url(../assets/Web_footer_wave.png) 10 1 repeat;
  -webkit-border-image: url(../assets/Web_footer_wave.png) 10 1 repeat;
  -o-border-image: url(../assets/Web_footer_wave.png) 10 3 repeat;
  border-image: url(../assets/Web_footer_wave.png) 10 1 repeat;
  margin-bottom: -0.18em;
}

.circule-green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.icon {
  fill: var(--primary);
}

.icon {
  width: 20px;
  min-width: 20px;
  min-height: 20px;
}

.frequent-questions {
  background: linear-gradient(180deg, #e1f3fd, var(--white));
}

.why-selected-crocket {
  background: linear-gradient(180deg, var(--white), #e1f3fd);
}

.buy-section {
  height: 500px;
  background-color: #e1f3fd;
  background-image: url(../assets/wave_background.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 110% 110%;
}

.custom-prev {
  background-color: #fff;
  color: var(--info);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: 90px;
}

.custom-next {
  background-color: #e1f3fd;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: 90px;
}

.btn-circule {
  border-radius: 30rem;
  padding: 0 1.5rem 0 1.5rem;
}

.alegralo {
  margin-left: 190px;
}

.arrow-alegralo {
  margin-left: 238px;
  width: 20px;
  height: 10px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.bath-room {
  /* position: relative; */
  /* border: solid black 1px; */
}

.country-flag {
  position: absolute !important;
  right: 1.1rem;
  top: 0.6rem;
}

.platos-crocket {
  height: 80px;
  background-image: url("../assets/water-waves.PNG");
  background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 480px) {
  .platos-crocket {
    height: 80px;
    background-image: url("../assets/water-waves.PNG");
    background-repeat: no-repeat;
  }

  .star-received {
    background-image: none !important;
  }

  .amazon-1 {
    background-image: none !important;
  }

  .country-sales {
    background-image: none !important;
  }

  .circule-ranking {
    width: 100px;
    height: 100px;
    background-color: #e1f3fd;
    border-radius: 50%;
  }

  .position-ranking {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .text-service-desing {
    margin-left: 0rem !important;
    margin-top: 0rem !important;
  }

  .main-picture {
    height: 450px !important;
  }

  .cesta-body {
    height: 100vh;
    left: 0 !important;
  }

  .platos-crocket {
    height: 90px;
    background-image: url("../assets/Web_wave_blue.png");
    background-repeat: repeat-y;
  }

  .mobile-background-tab {
    background-color: var(--info);
  }

  .tab-resina-crocket .tab-pane {
    margin: 1.5rem !important;
  }

  .background-nav-collapse {
    background-image: none !important;
    height: 650px;
    padding: 0px 1rem !important;
  }

  .background-nav-collapse #accordion {
    width: 100% !important;
  }

  .buy-section {
    height: 480px !important;
    background-position: unset !important;
    background-size: unset !important;
  }

  .frequent-questions {
    background: none;
  }

  .custom-next {
    background-color: #fff;
    color: #e1f3fd;
  }
}

.cesta-body {
  left: 60%;
}

.star-received {
  background-image: url("../assets/Web_kpi_reviews_background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.amazon-1 {
  background-image: url("../assets/Web_kpi_ventas_background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.country-sales {
  background-image: url("../assets/Web_kpi_paises_background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.main-picture {
  background-image: url("../assets/crocket-safe-area.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 700px;
}

.header-bar {
  background-color: #e1f3fd;
}

.custom-nav {
  position: relative;
}

.backgroup-radiografia {
  background-image: url("../assets/web_ebro_explosionado.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  /* TODO: FIX for mobile */
}

/* Navbar selected */
.backgroup-radiografia .active .explosionado-number-backgroud {
  background-color: var(--primary) !important;
  background-image: none !important;
  border: 2px solid var(--success);
  border-radius: 50%;
  color: var(--white) !important;
  transform: scale(1.2);
  height: 33px;
  width: 33px;
  display: inline-grid;
  line-height: 1.3;
}

/* Navbar selected */
.tab-content .explosionado-number-backgroud {
  background-color: var(--primary) !important;
  background-image: none !important;
  border: 2px solid var(--success);
  border-radius: 50%;
  color: var(--white) !important;
  transform: scale(1.2);
  height: 33px;
  width: 33px;
  display: inline-grid;
  line-height: 1.1;
}

.backgroup-radiografia .explosionado-number-backgroud {
  background-image: url("../assets/Web_explosionado_number_background.png");
  border-radius: 50%;
  color: var(--primary);
  height: 33px;
  width: 33px;
  height: 33px;
  width: 33px;
  display: inline-grid;
  line-height: 1.42857;
}

.backgroup-radiografia .navbar {
  display: grid !important;
  height: 100%;
  width: 100%;
  margin-left: 220px;
  align-content: center;
}

.backgroup-radiografia .nav-item:nth-child(1) {
  height: 100px;
  padding-top: 50px;
}

.backgroup-radiografia .nav-item:nth-child(2) {
  padding-top: 50px;
  height: 95px;
}
.backgroup-radiografia .nav-item:nth-child(3) {
  padding-top: 55px;
  height: 100px;
}
.backgroup-radiografia .nav-item:nth-child(4) {
  height: 70px;
}
.backgroup-radiografia .nav-item:nth-child(5) {
  height: 50px;
}

.resina-crocket .nav-item {
  border-radius: 3rem;
  border: none;
  padding: 0px !important;
  width: 33.3333%;
  background-color: var(--white);
  margin: 0px 0px -0.5px 0px;
  display: grid;
}

.resina-crocket .surface-navbar {
  background-color: var(--info);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin-right: 2px;
}

.resina-crocket .surface-white {
  background-color: var(--white);
  border-radius: 3rem;
}

/* TODO: continue */
/* .resina-crocket .nav-item:not(.active) .textura-color {
  background-color: red !important;
  border-radius: 3rem 0rem 0rem 3rem;
}

.resina-crocket .nav-item:not(.active) .persozalicacion-color {
  background-color: red !important;
}

.resina-crocket .active {
  background: linear-gradient(90deg, var(--primary), var(--info)) !important;
}

.resina-crocket .active a:last-of-type .persozalicacion-color {
  background: linear-gradient(90deg, var(--primary), var(--info)) !important;
}


.resina-crocket .active .persozalicacion-color {
  background: linear-gradient(90deg, var(--primary), var(--info)) !important;
}

.resina-crocket .nav-item:nth-child(2):focus .persozalicacion-color {
  background-color: var(--primary) !important;
}

.resina-crocket .nav-item:not(.active) .install-color {
  background-color: var(--info) !important;
  border-radius: 0rem 3rem 3rem 0rem;
} */
/* END TODO */

.resina-crocket .nav-item:nth-child(2) .surface-navbar {
  margin-left: -0.2381px;
}

.resina-crocket .nav-item:nth-child(3) .surface-navbar {
  margin-right: 0px;
}

.resina-crocket .active .surface-navbar {
  background-color: var(--primary);
}

.resina-crocket .active {
  background-color: var(--primary) !important;
  color: var(--white) !important;
}

.resina-crocket .nav-tabs {
  margin-bottom: 5px;
  background-color: var(--primary);
  border-radius: 3rem;
  border-bottom: 0px;
  color: var(--white);
}

.background-nav-collapse .show,
.background-nav-collapse .collapsed {
  border-right: 2.5px solid var(--success);
}

.background-nav-collapse a[aria-expanded="false"] {
  border-right: 2.5px solid var(--white);
  color: var(--info);
}

.background-nav-collapse a[aria-expanded="true"] {
  border-right: 2.5px solid var(--success);
  color: var(--white);
}

.background-nav-collapse {
  background-image: url("../assets/web_flowers_background.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 500px;
}

.background-nav-collapse-solution .show,
.background-nav-collapse-solution .collapsed {
  border-left: 2.5px solid var(--success);
  border-right: none;
}

.background-nav-collapse-solution a[aria-expanded="false"] {
  border-left: 2.5px solid var(--white);
  color: var(--info);
}

.background-nav-collapse-solution a[aria-expanded="true"] {
  border-left: 2.5px solid var(--success);
  color: var(--white);
}

.background-nav-collapse-solution {
  /* background-color: var(--primary); */
}

.navbar-design-touch-durability .active,
.navbar-design-touch-durability .nav-link {
  border-color: transparent !important;
  border: 0px !important;
  color: var(--primary) !important;
}

.navbar-design-touch-durability .active {
  border-bottom: 1.5px solid var(--primary) !important;
}

.navbar-design-touch-durability .nav-link:hover {
  border-color: transparent !important;
  color: var(--primary) !important;
  border: 0px !important;
  border-bottom: 1.5px solid var(--primary) !important;
}

.background-image-confort {
  background-image: url("../assets/web_revoluciona_egeo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
}

.close-cesta {
  transform: rotate(45deg);
}

.circule {
  border: 0.5px solid var(--secondary);
  border-radius: 50%;
}

.cesta-products .circule i {
  margin: 0px 7px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  border: 0.5px solid var(--secondary);
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.badge-custom {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
