/* start-bootstrap-custom */

:root {
  --primary: #141e51; /* custom */
  --secondary: #788f9b; /* custom */
  --success: #24b9a2; /* custom */
  --info: #b7dbf1; /* custom */
  --warning: #de5455; /* custom */
}

#root {
  padding-top: 61px !important; /* for navbar fixed*/
}

body {
  font-family: "Monserrat", sans-serif !important;
}

.carousel-indicators {
  bottom: -30px !important;
}

.fixed-top {
  width: 100vw;
}

.carousel-indicators .active {
  background-color: var(--primary) !important;
}

.carousel-indicators li {
  width: 6px !important;
  height: 6px !important;
  border: 1px solid var(--primary) !important;
  border-radius: 50% !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-row {
    display: table-row !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-table {
    display: table !important;
  }
  .d-md-table-row {
    display: table-row !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-row {
    display: table-row !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
@media (min-width: 1025px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-row {
    display: table-row !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.d-grid {
  display: grid !important;
}

.d-contents {
  display: contents !important;
}

.justify-items-end {
  -ms-flex-pack: end !important;
  justify-items: end !important;
}

.carouselProduct .carousel-control-next,
.carouselProduct .carousel-control-prev,
.woo-variation-gallery-slider .carousel-control-next,
.woo-variation-gallery-slider .carousel-control-prev {
  width: unset !important;
}

/* end-bootstrap-custom */

/* Custom */
.woo-variation-gallery-slider .carousel-control-next,
.woo-variation-gallery-slider .carousel-control-prev {
  top: 50% !important;
}

/* Quite hidden buttons prev and next for product UI slider */
.woo-variation-gallery-wrapper .slick-next::before,
.woo-variation-gallery-wrapper .slick-prev::before {
  content: unset;
}

footer a {
  color: var(--white);
  text-decoration: none;
  background-color: transparent;
}

footer a:hover {
  color: var(--success);
  text-decoration: underline;
}

footer {
  border-bottom: 12px solid transparent;
  -moz-border-image: url(https://crocketbath.com/public/assets/Web_footer_wave.png)
    10 1 repeat;
  -webkit-border-image: url(https://crocketbath.com/public/assets/Web_footer_wave.png)
    10 1 repeat;
  -o-border-image: url(https://crocketbath.com/public/assets/Web_footer_wave.png)
    10 3 repeat;
  border-image: url(https://crocketbath.com/public/assets/Web_footer_wave.png)
    10 1 repeat;
  margin-bottom: -0.18em;
}

.circule-green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.icon {
  fill: var(--primary);
}

.icon {
  width: 20px;
  min-width: 20px;
  min-height: 20px;
}

.frequent-questions {
  background: linear-gradient(180deg, #e1f3fd, var(--white));
}

.why-selected-crocket {
  background: linear-gradient(180deg, var(--white), #e1f3fd);
}

.buy-section {
  height: 500px;
  background-color: #e1f3fd;
  background-image: url(https://crocketbath.com/public/assets/wave_background.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 110% 110%;
}

.custom-prev {
  background-color: #fff;
  color: var(--info);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: 90px;
}

.custom-next {
  background-color: #e1f3fd;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: 90px;
}

.btn-circule {
  border-radius: 30rem;
  padding: 0 1.5rem 0 1.5rem;
}

.alegralo {
  margin-left: 190px;
}

.arrow-alegralo {
  margin-left: 238px;
  width: 20px;
  height: 10px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.bath-room {
  /* position: relative; */
  /* border: solid black 1px; */
}

.country-flag {
  position: absolute !important;
  right: 1.1rem;
  top: 0.6rem;
}

.platos-crocket {
  height: 80px;
  background-image: url("https://crocketbath.com/public/assets/water-waves.PNG");
  background-repeat: no-repeat;
}

@media (min-width: 320px) and (max-width: 480px) {
  #root {
    padding-top: 76.98px !important; /* for navbar fixed*/
  }

  .platos-crocket {
    height: 54px;
    background-image: url("https://crocketbath.com/public/assets/water-waves.PNG");
    background-repeat: no-repeat;
  }

  .star-received {
    background-image: none !important;
  }

  .amazon-1 {
    background-image: none !important;
  }

  .country-sales {
    background-image: none !important;
  }

  .circule-ranking {
    width: 100px;
    height: 100px;
    background-color: #e1f3fd;
    border-radius: 50%;
  }

  .position-ranking {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .text-service-desing {
    margin-left: 0rem !important;
    margin-top: 0rem !important;
  }

  .main-picture {
    height: 450px !important;
  }

  .cesta-body {
    height: 100vh;
    left: 0 !important;
  }

  .platos-crocket {
    height: 54px;
    background-image: url("https://crocketbath.com/public/assets/Web_wave_blue.png");
    background-repeat: repeat-y;
  }

  .mobile-background-tab {
    background-color: var(--info);
  }

  .tab-resina-crocket .tab-pane {
    margin: 1.5rem !important;
  }

  .background-nav-collapse {
    background-image: none !important;
    height: 500px !important;
    padding: 0px 1rem !important;
  }

  .background-nav-collapse #accordion {
    width: 100% !important;
  }

  .background-nav-collapse #accordion-lamotra {
    width: 100% !important;
  }

  .background-nav-collapse #accordion-lamotra .collapse {
    padding-right: unset !important;
  }

  .buy-section {
    height: 480px !important;
    background-position: unset !important;
    background-size: unset !important;
  }

  .frequent-questions {
    background: none;
  }

  .custom-next {
    background-color: #fff;
    color: #e1f3fd;
  }

  .resina-crocket p {
    display: none !important;
  }
  .resina-crocket .nav-tabs {
    background-color: var(--info) !important;
  }

  .resina-crocket .active {
    background-color: unset !important;
    margin-left: auto !important;
    /* margin-right: auto !important; */
  }

  .resina-crocket .nav-item,
  .resina-crocket .surface-white,
  .resina-crocket .surface-navbar {
    background-color: unset !important;
  }

  .resina-crocket .nav-item {
    width: unset !important;
  }

  .resina-crocket .active p {
    display: inline !important;
    font-weight: 700;
    color: var(--primary);
    padding-right: 5px;
  }

  .resina-crocket .persozalicacion-color-left,
  .resina-crocket .textura-color-right,
  .resina-crocket .persozalicacion-color-right,
  .resina-crocket .install-color-left {
    background: unset !important;
  }

  .resina-crocket .active .bg-number {
    background-color: var(--primary) !important;
  }

  .background-nav-collapse .show,
  .background-nav-collapse .collapsed {
    border-right: unset !important;
  }

  .background-nav-collapse a[aria-expanded="false"],
  .background-nav-collapse a[aria-expanded="true"] {
    border-right: unset !important;
    padding-right: unset !important;
    font-weight: 400;
  }

  #accordion h4 {
    margin: 1rem 0rem;
  }

  .content-solution {
    width: 100% !important;
  }

  .background-nav-collapse-solution a[aria-expanded="false"],
  .background-nav-collapse-solution a[aria-expanded="true"] {
    border-left: unset !important;
    padding-left: unset !important;
  }

  .background-nav-collapse-solution .show,
  .background-nav-collapse-solution .collapsed {
    border-left: unset !important;
    padding-left: unset !important;
  }

  .background-nav-collapse-solution h6 {
    margin-top: 1rem !important;
  }

  #accordion {
    border-left: 1.5px solid #ddd;
  }

  .show-cesta {
    top: 76.98px !important;
  }
}

.frequent-questions h5[aria-expanded="true"] i {
  transform: rotate(45deg);
}

.cesta-body {
  left: 60%;
}

.star-received {
  background-image: url("https://crocketbath.com/public/assets/Web_kpi_reviews_background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.amazon-1 {
  background-image: url("https://crocketbath.com/public/assets/Web_kpi_ventas_background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.country-sales {
  background-image: url("https://crocketbath.com/public/assets/Web_kpi_paises_background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.main-picture {
  background-image: url("https://crocketbath.com/public/assets/crocket-safe-area.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 700px;
}

.header-bar {
  background-color: #edf2f7;
}

.custom-nav {
  position: relative;
}

.backgroup-radiografia {
  background-image: url("https://crocketbath.com/public/assets/web_ebro_explosionado.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  /* TODO: FIX for mobile */
}

/* Navbar selected */
.backgroup-radiografia .active .explosionado-number-backgroud {
  background-color: var(--primary) !important;
  background-image: none !important;
  border: 2px solid var(--success);
  border-radius: 50%;
  color: var(--white) !important;
  /* transform: scale(1.2); */
  height: 33px;
  width: 33px;
  display: inline-grid;
  line-height: 1.3;
}

/* Navbar selected */
.tab-content .explosionado-number-backgroud {
  background-color: var(--primary) !important;
  background-image: none !important;
  border: 2px solid var(--success);
  border-radius: 50%;
  color: var(--white) !important;
  /* transform: scale(1.2); */
  height: 33px;
  width: 33px;
  display: inline-grid;
  line-height: 1.1;
}

.backgroup-radiografia .explosionado-number-backgroud {
  background-image: url("https://crocketbath.com/public/assets/Web_explosionado_number_background.png");
  border-radius: 50%;
  color: var(--primary);
  height: 33px;
  width: 33px;
  height: 33px;
  width: 33px;
  display: inline-grid;
  line-height: 1.42857;
}

.backgroup-radiografia .navbar {
  display: grid !important;
  height: 100%;
  width: 100%;
  margin-left: 220px;
  align-content: center;
}

.backgroup-radiografia .nav-item:nth-child(1) {
  height: 100px;
  padding-top: 50px;
}

.backgroup-radiografia .nav-item:nth-child(2) {
  padding-top: 50px;
  height: 95px;
}
.backgroup-radiografia .nav-item:nth-child(3) {
  padding-top: 55px;
  height: 100px;
}
.backgroup-radiografia .nav-item:nth-child(4) {
  height: 70px;
}
.backgroup-radiografia .nav-item:nth-child(5) {
  height: 50px;
}

.resina-crocket .nav-item {
  border-radius: 3rem;
  border: none;
  padding: 0px !important;
  width: 33.3333%;
  background-color: var(--white);
  margin: 0px 0px -0.5px 0px;
  display: grid;
}

.resina-crocket .surface-navbar {
  background-color: var(--info);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin-right: 2px;
}

.resina-crocket .surface-white {
  background-color: var(--white);
  border-radius: 3rem;
}

.resina-crocket .nav-item:nth-child(1) .bg-info {
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.resina-crocket .nav-item:nth-child(3) .bg-info {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.persozalicacion-color-left {
  background: linear-gradient(90deg, var(--primary), var(--info)) !important;
}

.install-color-left {
  background: linear-gradient(90deg, var(--primary), var(--info)) !important;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.textura-color-right {
  background: linear-gradient(-90deg, var(--primary), var(--info)) !important;
}

.persozalicacion-color-right {
  background: linear-gradient(-90deg, var(--primary), var(--info)) !important;
}

.resina-crocket .nav-item:nth-child(2) .surface-navbar {
  margin-left: -0.2381px;
}

.resina-crocket .nav-item:nth-child(3) .surface-navbar {
  margin-right: 0px;
}

.resina-crocket .bg-number {
  width: 40px;
  height: 40px;
  margin-top: -8.5px;
  margin-right: -10px;
  border-radius: 50%;
  background-color: #fff;
  color: #b7dbf1;
  font-size: x-large;
}

.resina-crocket .active .bg-number {
  background-color: var(--success);
  color: #fff;
}

.resina-crocket .active p {
  font-weight: 700;
}

.resina-crocket .active .surface-navbar {
  background-color: var(--primary);
}

.resina-crocket .active {
  background-color: var(--primary);
  color: var(--white) !important;
}

.resina-crocket .nav-tabs {
  margin-bottom: 5px;
  background-color: var(--primary);
  border-radius: 3rem;
  border-bottom: 0px;
  color: var(--white);
}

.background-nav-collapse .show,
.background-nav-collapse .collapsed {
  border-right: 2.5px solid var(--success);
}

.background-nav-collapse a[aria-expanded="false"] {
  border-right: 2.5px solid var(--white);
  color: var(--info);
}

.background-nav-collapse a[aria-expanded="true"] {
  border-right: 2.5px solid var(--success);
  color: var(--white);
}

.background-nav-collapse {
  background-image: url("https://crocketbath.com/public/assets/web_flowers_background.png");
  background-position: left;
  background-repeat: no-repeat;
  height: 500px;
}

.background-nav-collapse-solution .show,
.background-nav-collapse-solution .collapsed {
  border-left: 2.5px solid var(--success);
  border-right: none;
}

.background-nav-collapse-solution a[aria-expanded="false"] {
  border-left: 2.5px solid var(--white);
  color: var(--white);
  font-size: large;
}

.background-nav-collapse-solution a[aria-expanded="true"] {
  border-left: 2.5px solid var(--success);
  color: var(--white);
  font-size: larger;
}

.background-nav-collapse-solution {
  /* background-color: var(--primary); */
}

.navbar-design-touch-durability .active,
.navbar-design-touch-durability .nav-link {
  border-color: transparent !important;
  border: 0px !important;
  color: var(--primary) !important;
}

.navbar-design-touch-durability .active {
  border-bottom: 1.5px solid var(--primary) !important;
}

.navbar-design-touch-durability .nav-link:hover {
  border-color: transparent !important;
  color: var(--primary) !important;
  border: 0px !important;
  border-bottom: 1.5px solid var(--primary) !important;
}

.confort-text {
  right: 50px;
  bottom: 10px;
}

.close-cesta {
  transform: rotate(45deg);
}

.circule {
  border: 0.5px solid var(--secondary);
  border-radius: 50%;
}

.cesta-products .circule i {
  margin: 0px 7px;
}

.btn-circule-cesta {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  border: 0.5px solid var(--secondary);
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.badge-custom {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.item-body {
  font-size: 0.9rem;
}

.backgroup-radiografia .nav > li > a:focus,
.backgroup-radiografia .nav > li > a:hover {
  background-color: unset !important;
}

.product-detail .tabs-left {
  border-bottom: none;
  padding-top: 2px;
  border-right: 2px solid #ddd;
}

.product-detail .active,
.product-detail a.text-info:focus,
.product-detail a.text-info:hover {
  color: var(--white) !important;
}

#detail-product-accordion {
  border-left: 1.5px solid #ddd;
}

.content-solution {
  width: 50%;
}

.desdeprecio {
  background-color: var(--info);
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  width: max-content;
  padding: 0px 25px;
}

.items-cirule {
  border: 2px solid var(--primary);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.bg-comparativa {
  background-color: #e1f3fd;
}

.show-cesta {
  display: block !important;
  top: 61px;
}

.numberProductCesta {
  top: 8px;
  right: 16px;
  font-size: 25px;
}

.woo-variation-gallery-thumbnail-slider {
  display: none !important;
}

.slick-dots li {
  width: 6px !important;
  height: 6px !important;
  border: 1px solid var(--primary);
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  background-color: #fff;
}

.slick-dots li button {
  display: none;
}

.slick-dots .slick-active {
  background-color: var(--primary);
  opacity: 1 !important;
  border-radius: 50% !important;
}

/*  FR */

a:hover {
  color: var(--primary);
  text-decoration: none;
  font-weight: 700 !important;
}
#medidas-colores.tab-pane,
#materiales-certificados.tab-pane,
#envio-devoluciones.tab-pane,
#garantias.tab-pane {
  font-size: 12px;
}

.navlogo {
  height: 80px;
  height: 60px;
}
.navkpi {
  height: 70px;
}

.platos-crocket {
  background-position: center;
}
/* WC Checkout Page Custom CSS by Charles TheCoder v1.3 */
/* 2 COLUMN SETTINGS */

@media (min-width: 981px) {
  .woocommerce:after {
    clear: both;
  }
  .woocommerce .col2-set .col-1,
  .woocommerce-page .col2-set .col-1 {
    width: 100%;
  }
  .woocommerce .col2-set .col-2,
  .woocommerce-page .col2-set .col-2 {
    display: none;
  }
  .woocommerce .col2-set,
  .woocommerce-page .col2-set {
    float: left;
    width: 48%;
  }
  #order_review_heading,
  .woocommerce #order_review,
  .woocommerce-page #order_review {
    float: left;
    width: 48%;
    margin-left: 2%;
    background-color: #fff;
    padding: 20px;
  }
}

/* Rounded corners on the WooCommerce "alert" messages */
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border-radius: 5px;
}

/* Section Titles */

#order_review_heading {
  clear: none;
  margin-bottom: 0;
}

/* FORM STYLING */

.select2-container .select2-selection--single {
  height: 40px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 40px;
  color: #4e4e4e;
  font-weight: bold;
  background-color: #fff;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  margin-top: 8px;
}
.select2-container--default .select2-selection--single {
  background-color: rgba(0, 1, 0, 0.01);
  border: none;
}

.elementor-widget-text-editor {
  color: #492f70;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}

/* YOUR ORDER FIELD TITLES */

table th {
  font-weight: bold;
  color: #492f70;
}

/* PAYMENT METHOD AREA*/

.woocommerce-checkout #payment {
  background: rgba(0, 1, 0, 0.01) !important;
}
.woocommerce-checkout #payment ul.payment_methods {
  border: none;
}

/* PLACE ORDER BUTTON CUSTOMIZATION */

#place_order {

font-family: "Monserrat", sans-serif !important;
box-sizing: border-box;
text-decoration: none;
display: inline-block;
font-weight: 400;
text-align: center;
vertical-align: middle;
user-select: none;
border: 1px solid transparent;
font-size: 1rem;
line-height: 1.5;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
color: #fff;
background-color: var(--success);
border-color: var(--success);
padding-top: 0.5rem !important;
padding-bottom: 0.5rem !important;
padding-right: 3rem !important;
padding-left: 3rem !important;
border-radius: 30rem;
cursor: pointer;
  padding: 10px;
}





#place_order:hover {
}

input.text,
input.title,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
textarea {
  border: #d7dfe3;
  color: #010101;
  height: 50px;
  width: 100%;
}

.woocommerce form .form-row textarea,
.woocommerce input[type="email"],
.woocommerce input[type="number"],
.woocommerce input[type="password"],
.woocommerce input[type="reset"],
.woocommerce input[type="search"],
.woocommerce input[type="tel"],
.woocommerce input[type="text"],
.woocommerce input[type="url"],
.woocommerce textarea,
.woocommerce-page form .form-row textarea,
.woocommerce-page input[type="email"],
.woocommerce-page input[type="number"],
.woocommerce-page input[type="password"],
.woocommerce-page input[type="reset"],
.woocommerce-page input[type="search"],
.woocommerce-page input[type="tel"],
.woocommerce-page input[type="text"],
.woocommerce-page input[type="url"],
.woocommerce-page textarea {
  border-color: #d7dfe3;
  background: #fff;
  box-shadow: none;
  border-radius: 0;
}

.woocommerce-info {
    border-top-color: transparent;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: #fff;
    border-top: 0px solid #a46497;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}


#cesta-car-desktop{
  z-index: 999999999999999999999999 !important;
  width: 28%;
}
